* {
    margin: 0;
    padding: 0;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: aquamarine;
}

img {
    max-width: fit-content;
}